@charset "utf-8";

/* CSS Document */


/*
Theme: Anaglyph Lite Child
http://dirtysix.knowbility.org.php56-11.dfw3-2.websitetestlink.com/anaglyph-lite-child/
Authors: Seth Perlstein, Olivia Oddo, Elena Tsoi, Ming-tse Chen, Alexandre Morand, Rene Neumann
Author URI: http://dirtysix.knowbility.org.php56-11.dfw3-2.websitetestlink.com
Template: anaglyph-lite
Version: 1.0.0
*/
/*PATCHES*/
.sep{
    margin-bottom: 50px !important;
}


.entry-content h2 {
    margin-bottom: 8px;
}
.ButtonPatcher {
    background-color: #fff;
    color: #ff5a59;
    border: none;
    float: right;
    margin-top: 5px;
}

.getButtonSmallModeUniq {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.colorCodePurple {
    color: #a23f8e;
}

.colorCodeBlue {
    color: #443c93;
}


.AboutTop {
    position: absolute;
    top: 10%;
    left: 100px;
    width: 25%;
    color: #943a92;
}

.smallMode {
    display: none !important;
}

.heardTop {
    display: block !important;
}

@media screen and (max-width:1024px) {
    .theFacts {
        display: none !important;
    }
    .smallMode {
        display: block !important;
    }
    .homeTop {
        display: none !important;
    }
    .heardTop {
        display: none !important;
    }
    .AboutTop {
        display: none !important;
        ;
    }

    .homeBottom {
        margin-left: 20px;
        padding-top: 20px !important;
    }
    button.getButtonSmall {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}


/*PATCH END*/


/*GLOBAL*/


/* Hides horizontal scroll bar */

html {
    overflow-y: scroll;
    overflow-x: hidden;
}


/* Adds red focus indicator to everything for accessibility*/

*:focus {
    border: dotted 1px #FF5A59;
}

.site .skip-link {
    display: none;
}

.gr__dirtysix_knowbility_org_php56-11_dfw3-2_websitetestlink_com {
    margin-top: 0px !important;
}

#skip a:focus {
    position: static;
    width: auto;
    height: auto;
}


/*HEADER*/


/* Sets logo width and height */

a.navbar-brand > img {
    width: 200px !important;
    height: 57px !important;
    margin-top: -15px;
}


/* Sets nav background on home page to white */

.navigation-wrapper .navigation {
    background-color: #fff;
    padding-top: 15px !important;
    padding-bottom: 0px !important;
}


/* Changes the color of nav items */

#menu-av-menu > li > a {
    color: rgb(160, 53, 148);
    border: dotted 1px #fff;
}

#menu-av-menu >li {
    padding-left: 20px;
}


/* Removes red/yellow borders */

.navigation nav a:before,
.navigation nav a:after {
    display: none !important;
}


/* Changes the nav items font weight and color on hover */

#menu-av-menu > li > a:hover {
    color: rgb(255, 90, 89) !important;
}

#menu-av-menu > li.current-menu-item > a {
    border-bottom: rgb(255, 90, 89);
}


/* Changes the bg color of Donate button */

#menu-av-menu > li.donate-button > a {
    background: #FF5A59 !important;
    color: #fff !important;
}


/* Changes donate button's text color on hover */

#menu-av-menu > li.donate-button > a:hover,
#menu-av-menu > li.donate-button > a:active {
    color: rgb(160, 53, 148) !important;
}

.headline {
    padding: 13px;
}

.headline h2 {
    margin-bottom: 2px;
}


/*BODY*/

#main {
    padding-top: 74px;
}

.quote {
    color: #a03594;
}

.bioName {
    color: #a03594;
    display: inline;
}

.bioTitle {
    color: #a03594;
    display: inline;
    font-style: italic;
}

.bioDescription {
    color: #a03594;
}

#aboutBackground {
    background-color: #a03594;
    width: 100%;
    padding: 0;
}

.aboutTitle {
    color: #ffffff;
}

.aboutDesc {
    color: #ffffff;
}

.example {
    color: #ffffff;
}

.quoteBottom {
    color: #ff5a59;
}

.fullWidthPhoto {
    width: 100% !important;
}

section.block {
    padding: 0px;
}

.sub-page .block {
    padding: 0px;
}

.title {
    display: none;
}

.fullwidth {
    width: 100%;
    height: 100%;
}

img .fullWidth {
    width: 100% !important;
    top: -100px;
}


.entry-summary{
    padding-right: 20px !important;
    padding-bottom: 10px !important;
    padding-left: 20px !important;
    padding-top:10px !important;
}



.container {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

div .aboutContainer {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

h2 {
    font-weight: bold !important;
}

h2.thanks {
    margin: 0px !important;
}

h4 .quoteBottom {
    font-style: italic;
}

.top {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 25%;
    color: #a03594;
}

.bottom h4 {
    position: absolute;
    top: 400px;
    left: 100px;
    width: 25%;
    color: #a03594;
}

p span {
    font-style: italic;
}

.theFacts {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 25%;
    color: #ff5a59;
}

button.theFacts {
    color: #ffffff;
    background-color: #ff5a59;
    border: none;
}

.resourcesBackground {
    background-color: #ff5a59;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
}

.issueContainer {
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
}

.issueBlue {
    color: #3f3994;
}

.issuePurple {
    color: #a03594;
}

.issuePink {
    color: #ff5a59;
}

.getInvolvedContainer {
    background-color: #ff5a59;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}



p.donateDesc {
    font-style: italic;
    color: #fff;
}

button.giveButton {
    background-color: #fff;
    color: #ff5a59;
    border: none;
}

.involvedEventsContainer {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: #a03594;
}

button.involvedButton {
    background-color: #a03594;
    color: #fff;
    border: none;
}

.volunteerContainer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
    color: #ff5a59;
}

button.emailEvents {
    background-color: #ff5a59;
    color: #fff;
    border: none;
}

.helpTop {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 25%;
    color: #ff5a59;
}

.donateContainer {
    background-color: #a03594;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
}

.donateTop {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 25%;
    color: #ff5a59;
}

button.donateOnlineButton {
    border: none;
}

.homeImage {
    margin-bottom: -30px;
}

.homeContainer {
    background-color: #ff5a59;
    color: #fff;
    padding-right: 20px;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 40px;
}

.homeContainer h5 {
    line-height: 1.5;
}

button {
    margin-top: 50px;
    padding: 15px;
}

input[type=submit] {
    -webkit-appearance: none;
    cursor: pointer;
    background-color: #ff5a59;
    border: none;
    color: white;
    padding: 10px;
 }

 .subscriptionContainer.col-xs-10.col-xs-offset-1 {
    color: #ff5a59;
}



/*Changes button opacity to 1 */

.blog-posts .blog-post .blog-post-content p,
.container p {
    opacity: 1.0 !important;
}

.blog-post-content{
    padding-left: 20px;
    padding-left: 20px;
}

button.planButton {
    background-color: #fff;
    color: #ff5a59;
    border: none;
}

.homeTop {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 35%;
    color: #fff;
    background-color: rgb(63, 57, 148);
    padding: 25px;
}

button.voiceButton {
    border: none;
    background-color: #ff5a59;
    color: #fff;
}

span.heardTop {
    position: absolute;
    top: 60%;
    left: 100px;
    width: 25%;
    color: #ff5a59;
}

button.getButton {
    background-color: #ff5a59;
    color: #fff;
    border: none;
}

.homeContainerBottom {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    color: #3f3994;
}




h4.without {
    font-style: italic;
}

button.sponsorButton {
    color: #ffffff;
    background-color: #3f3994;
    border: none;
}

button.getButtonSmall {
    color: #ffffff;
    background-color: #3f3994;
    border: none;
    margin-bottom: 30px;
}

.sponsorsContainer {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: #a03594;
}

h5.sponsors {
    color: #a03594;
}

h5.donors {
    color: #ff5a59;
}

h5.supporters {
    color: #ffa71a;
}


/*FOOTER*/

footer {
    background-color: #3F3994;
    color: white;
}

footer {
    padding: 30px;
}

footer p {
    color: white;
}

footer a {
    color: white;
}

footer a:active {
    color: #FF5A59 !important;
}

footer a:focus {
    color: #FF5A59 !important;
    text-decoration: none;
}

footer a:hover {
    color: #FF5A59;
    text-decoration: none;
}

footer h5 {
    margin-top: 0px;
    color: white;
}

.col-sm-12 col-md-6 left {
    text-align: left;
}

.col-sm-12 col-md-6 right {
    text-align: right;
}

@media screen and (max-width: 967px) {
    .right {
        text-align: left !important;
    }

    nav.primary-navigation.navbar-collapse.bs-navbar-collapse.navbar-right.collapse.in, nav.primary-navigation.navbar-collapse.bs-navbar-collapse.navbar-right.collapsing {
      overflow-x: hidden;
    }
}

.col-xs-12 copyright {
    vertical-align: text-bottom;
    font-size: 75%;
}

.footer-AV-logo {
    float: right;
}

footer .social-logo {
    background-color: white;
}

footer .social-logo:hover {
    background-color: #FF5A59;
}
