@charset "utf-8";
/* CSS Document */

/*
Theme: Anaglyph Lite Child
http://dirtysix.knowbility.org.php56-11.dfw3-2.websitetestlink.com/anaglyph-lite-child/
Authors: Seth Perlstein, Olivia Oddo, Elena Tsoi, Ming-tse Chen, Alexandre Morand, Rene Neumann
Author URI: http://dirtysix.knowbility.org.php56-11.dfw3-2.websitetestlink.com
Template: anaglyph-lite
Version: 1.0.0
*/


/*GLOBAL*/
/* Adds red focus indicator to everything for accessibility*/
*:focus {
	border: dotted 1px #FF5A59;
}

.site .skip-link {
    display: none;
}

.gr__dirtysix_knowbility_org_php56-11_dfw3-2_websitetestlink_com {
	margin-top: 0px !important;
}

#skip a:focus
{
position:static;
width:auto;
height:auto;
}


/*HEADER*/

/* Sets logo width and height */
a.navbar-brand > img {
  	width: 175px !important;
	height: 50px !important;
	background-color: rgba(255,255,255,0.7);
	margin-top: -10px;
}

/*Sets nav bg to transparent white */
.primary-navigation {
 background-color: rgba(255, 255, 255, .7) !important;
}

/* Changes the color of nav items */
#menu-av-menu > li > a {
	color: rgb(160, 53,148);
}

/* Removes red/yellow borders */
.navigation nav a:after, .navigation nav a:before {
 display: none !important;
}

/* Changes the nav items font weight and color on hover */
#menu-av-menu > li > a:hover, #menu-av-menu > li.current-menu-item > a{
 color: rgb(255, 90, 89) !important;
 font-weight: 900 !important;
}

/* Changes the bg color of Donate button */
.donate-button > a {
 width: auto;
 height: auto;
 background: rgb(255, 90, 89) !important;
}

/* Changes donate button's text color on hover */
#menu-av-menu > li.donate-button > a:hover {
	color: #fff !important;
}


/*BODY*/
#main {
	padding-top: 0px;
}

.quote {
	color: #a03594;
}

.bioName {
	color: #a03594;
	display: inline;
}

.bioTitle {
	color: #a03594;
	display: inline;
	font-style: italic;
 }

 .bioDescription{
 	color: #a03594;
 }

 #aboutBackground {
 	background-color: #a03594;
 	width: 100%;
 	padding: 0;
 }

 .aboutTitle{
 	color: #ffffff;
 }

 .aboutDesc{
 	color: #ffffff;
 }

 .example {
 	color: #ffffff;
 }

.quoteBottom{
	color: #ff5a59;
}

.fullWidthPhoto{
	width: 100% !important;
}

section.block {
  padding: 0;
}

.sub-page .block {
	padding: 0;
}

.title {
	display: none;
 }

 img .fullWidth{
 	width: 100% !important;
 	position: absolute;
 	top: -100px;
 }

 img.aligncenter {
 	margin: 0px;
 }

 .container{
 	margin: 0 !important;
 	padding: 0 !important;
 	width: 100%;
 }

 div .aboutContainer{
 	padding-right: 80px;
 	padding-left: 80px;
 	padding-top: 40px;
 	padding-bottom: 40px;
 }

h4 .quoteBottom {
 	font-style: italic !important;
 }

 .top{ 
   position: absolute; 
   top: 200px; 
   left: 100px; 
   width: 25%; 
   color: #a03594;
}

.bottom h4 { 
   position: absolute; 
   top: 400px; 
   left: 100px; 
   width: 25%; 
   color: #a03594;
}

p span { 
	font-style: italic;
 }
/*FOOTER*/
footer {
	background-color: #3F3994;
	color: white;
}

footer .row {
	padding: 30px;
}

footer p {
	color: white;
}

footer a {
	color: white;
}

footer a:active {
	color: #FF5A59 !important;
}

footer a:focus {
	color: #FF5A59 !important;
	text-decoration: none;
}

footer a:hover {
	color: #FF5A59;
	text-decoration: none;
}

footer h5 {
	margin-top: 0px;
	color: white;
}

.col-sm-12 col-md-6 left {
	text-align: left;
}

.col-sm-12 col-md-6 right {
	text-align: right;
}

@media screen and (max-width: 767px) {
	.right {
		text-align: left !important;
	}
}

.col-xs-12 copyright {
	vertical-align: text-bottom;
	font-size: 75%;
}

.footer-AV-logo {
	float: right;
}

footer .social-logo {
	background-color: white;
	}

footer .social-logo:hover {
	background-color: #FF5A59;
	}
